<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/books">Books</a></li>
    {% if user.is_authenticated %}
    <li>Hello, {{ user.username }}!</li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>

<style>
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0 1rem;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }
</style>
